form{
	background-color: rgba(255,255,255,0.9);
}
	h1{ 

		text-align: center;
		color: black;
		font-size: 40px;

		font-style: oblique;
		background-color: rgba(192,192,192,0.9);
		padding: 15px

	}
	body
	{
		background-color: #0000ff;
		background-image: url('images/osp.jpg') ;

		
		
		background-size: cover;
		
		




	}

